<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block Title %}
        {% endblock %}
    </title>
    {% block Css %}
    {% endblock %}
</head>
<body>
<ul>
    {% if request.user.is_authenticated %}
    <li>Logged in as {{request.user}}</li>
    {% url 'bill_manager:home' as home %}
        {% if request.path == home %}
    <li><strong>Home</strong></li>
        {% else %}
    <li><a href="{% url 'bill_manager:home' %}">Home</a></li>
        {% endif %}
    {% url 'bill_manager:create_plan' as new_plan %}
    {% if request.path != new_plan %}
    {% url 'bill_manager:plan' request.user.plan_id as plan %}
        {% if request.path == plan %}
    <li><strong>My Plan</strong></li>
        {% else %}
    <li><a href="{% url 'bill_manager:plan' request.user.plan_id %}">My Plan</a></li>
        {% endif %}
    {% endif %}
    {% url 'bill_manager:my_bills' as my_bills %}
        {% if request.path == my_bills %}
    <li><strong>My Bills</strong></li>
        {% else %}
    <li><a href="{% url 'bill_manager:my_bills' %}">My Bills</a></li>
    {% endif %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% url 'feedbacks:feedback_form' as feedback %}
        {% if request.path == feedback %}
    <li><strong>Feedback</strong></li>
        {% else %}
    <li><a href="{% url 'feedbacks:feedback_form' %}">Feedback</a></li>
        {% endif %}
    {% else %}
    {% url 'accounts:signup' as signup %}
        {% if request.path == signup %}
    <li><strong>Sign Up</strong></li>
        {% else %}
    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
    {% url 'login' as login %}
        {% if request.path == login %}
    <li><strong>Log In</strong></li>
        {% else %}
    <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    {% endif %}
</ul>
<hr>
{% for message in messages %}
    {{message}}
{% endfor %}
{% block Content %}
{% endblock %}

{% block Js %}
{% endblock %}
</body>
</html>