{% extends 'base.html' %}
{% load static %}

{% block Title %}
Bill-{{bill.id}}
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
{% endblock %}

{% block Content %}
<div class="text-center">
    <div class="row justify-content-center">
        <div class="details col-3">
        <strong>Bill id:</strong> {{bill.id}}<br>
        <strong>Month: </strong>{{month_name}}, {{year}}<br>
            <strong>Amount: Rs. <span class="text-monospace" style="color:red;">{{bill.amount}}</span></strong><br>
        <strong>Paid on: </strong>
            {% if bill.status is None and bill.current == False %}
            <strong>Unpaid</strong>
            <form method="post" action="{% url 'bill_manager:bill' %}">
                {% csrf_token %}
                <button type="submit" name="mark_as_paid" value="{{bill.id}}">Mark as paid</button>
            </form>
            {% elif bill.current == True %}
                The month is not over yet.
            {% else %}
            {{bill.status}}
            {% endif %}
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="calendar row justify-content-center col-3">
            <table>
                <thead>
                    <tr>
                       <th>Sun</th>
                       <th>Mon</th>
                       <th>Tue</th>
                       <th>Wed</th>
                       <th>Thu</th>
                       <th>Fri</th>
                       <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in calendar_rows %}
                    <tr>
                        {% for i in 1|rjust:7 %}
                            {% if counter.value <= 0 or counter.value > days %}
                                <td> </td>
                            {% else %}
                                {% if counter.value <= day %}
                                <td>
                                    {% if counter.value in bill.absentees %}
                                        <button type="submit" name="date" class="btn btn-danger btn-block disabled" value="{{counter.value}}">
                                            {{counter.value}}
                                        </button>
                                    {% else %}
                                        <button type="submit" name="date" class="btn btn-primary btn-block disabled" value="{{counter.value}}">
                                            {{counter.value}}
                                        </button>
                                    {% endif %}
            <!--                    <br>-->
                                </td>
                                {% else %}
                                <td><button type="submit" name="date" class="btn btn-dark disabled col-12" value="{{counter.value}}">
                                    {{counter.value}}
                                </button></td>
                            {% endif %}
                            {% endif %}
                            {{ counter.increment }}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}