{% extends 'base.html' %}

{% block Title %}
Home
{% endblock %}

{% block Content %}
<h3>{{month_name}}, {{year}}</h3>
your net bill for {{month_name}}, till date is <strong>Rs. {{amount}}</strong>.<br><br><br>
<div class="row justify-content-center">
<form method="post" action="{% url 'bill_manager:home' %}">
    {% csrf_token %}
<table>
    <thead>
        <tr>
           <th>Sun</th>
           <th>Mon</th>
           <th>Tue</th>
           <th>Wed</th>
           <th>Thu</th>
           <th>Fri</th>
           <th>Sat</th>
        </tr>
    </thead>
    <tbody>
    {% for i in calendar_rows %}
        <tr>
            {% for i in 1|rjust:7 %}
                {% if counter.value <= 0 or counter.value > days %}
                    <td> </td>
                {% else %}
                    {% if counter.value <= day %}
                    <td>
                        {% if counter.value in absentees %}
                            <button type="submit" name="date" class="btn btn-danger btn-block" value="{{counter.value}}">
                                {{counter.value}}
                            </button>
                        {% else %}
                            <button type="submit" name="date" class="btn btn-primary btn-block" value="{{counter.value}}">
                                {{counter.value}}
                            </button>
                        {% endif %}
<!--                    <br>-->
                    </td>
                    {% else %}
                    <td><button type="submit" name="date" class="btn btn-dark disabled" value="{{counter.value}}">
                        {{counter.value}}
                    </button></td>
                {% endif %}
                {% endif %}
                {{ counter.increment }}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table></form><br>
</div>
{% endblock %}