{% extends 'base.html' %}

{% block Title %}
My Plan
{% endblock %}

{% block Content %}
<h3>Here are the details of your most recent newspaper plan.</h3>
<table border="1">
    <thead>
        <tr>
            <th>Day</th>
            <th>Cost of Newspaper (Rs)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Sun</strong></td>
            <td>{{object.sun}}</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>{{object.mon}}</td>
        </tr>
        <tr>
            <td>Tue</td>
            <td>{{object.tue}}</td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>{{object.wed}}</td>
        </tr>
        <tr>
            <td>Thu</td>
            <td>{{object.thu}}</td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>{{object.fri}}</td>
        </tr>
        <tr>
            <td><strong>Sat</strong></td>
            <td>{{object.sat}}</td>
        </tr>
    </tbody>
</table><br>
<form method="post" action="{% url 'bill_manager:plan' object.id %}">
    {% csrf_token %}
    <button name="edit_plan" formmethod="post">Edit Plan</button>
</form>
{% endblock %}